
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@300;600&family=Playfair+Display:wght@500;600&family=Playfair:opsz@5..1200&family=Poppins:ital,wght@0,400;1,600&display=swap')
;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #ffffff, #ffffff);
}
.toolContainer {
     animation: slideIn 1.5s;

width: 1100px;
  height: auto;
  background: rgb(51, 49, 49);
  background: linear-gradient(to bottom, #54b4d1, #3ee28d);
  padding: 30px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30px;
  transition:400ms;
}
.toolContainer:hover{
    transition:400ms;
}
.title{
    font-size:80px;
    text-align: center;
    font-family: 'Jost', serif;
    font-weight: 400;
    color:black;
}
.description{
    font-size:22px;;
    font-family: 'Jost', serif;
    text-align: center;
    margin-top:10px;
}
.precision_api,.accuracy_api,.recall_api,.f1.api{
  font-size:20px;
  margin-top:30px;
}
.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:400px;
}
.description_container{
    width:670px;

}
#system, #system2{
    margin-top: 20px;;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#system2{
    display: flex;
    flex-direction: column;
}
.title_compare{
    font-family: 'Jost', serif;
    font-size:40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top:20px;
}

/* #title {
    font-family: "Courier New", "Times New Roman", monospace;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
} */

.headerContainer {
  /* border-radius: 10px;
    border: 3px solid white; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 

}

.dropdown, .parameters {
  font-family: "Jost", sans-serif;

  text-align: center;
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 40px;
  background: rgb(255, 255, 255);
  padding:10px;
  border:2px solid rgb(0, 0, 0);
  border-radius: 20px;
  transition:300ms;

}
.dropdown:hover, .parameters:hover {
    border:2px solid rgb(98, 221, 127);
    transition:300ms;
    background-color: rgb(30, 30, 30);
    color:white;
}

.parameters{
  margin-left:20px;
  height:80px;
  width:600px;
  display: flex;
  justify-content: space-between;

}
.parameters_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:3px;
  flex-direction: column;
}
.parameters_title{
  color:white;
  font-size: 28px;
  font-family: "Jost", sans-serif;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:8px;
}
.importButton {
  cursor: pointer;
  font-family: "Arial", "Times New Roman", monospace;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 60px;
  background: white;
  border: 10px solid white;
  border-radius: 20px;
}

.form-importPopup {
  display: none;
  position: fixed;
  /* bottom: 0; */
  top: 20%;
  left: 20%;
  /* right: 15px; */
  z-index: 9;
}

.importPopup-container {
  font-family: "Arial", "Times New Roman", monospace;
  max-width: 400px;
  padding: 10px;
  background-color: rgb(134, 134, 134);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.importPopup-container input[type="text"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.importPopup-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

.importPopup-container .buttonSubmit {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.importPopup-container .buttonCancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8; /*not working?*/
}

.importPopup-container .buttonSubmit:hover,
.importButton:hover,
.buttonCancel:hover {
  opacity: 1;
}

.runButton {
    font-family: "Jost", sans-serif;

  text-align: center;
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 28px;
  background: rgb(78, 212, 78);
  border: 2px solid rgb(8, 235, 8);
  border-radius: 20px;
  padding:20px;
  color:white;
  cursor: pointer;
  font-size:20px;
  transition:300ms;
}
.runButton:hover{
    background-color: rgb(30, 30, 30);
    color:white;
    transition:300ms;
}
.compare_button{
  font-family: "Jost", sans-serif;

  text-align: center;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left:15px;
  background: rgb(229, 130, 68);
  border: 2px solid rgb(239, 120, 1);
  border-radius: 20px;
  padding:20px;
  color:white;
  cursor: pointer;
  font-size:20px;
  transition:300ms;
}
.compare_button:hover{
  background-color: rgb(30, 30, 30);
  color:white;
  transition:300ms;
}
.save_button{
  font-family: "Jost", sans-serif;

  text-align: center;
  width: auto;
  height: auto;
  display: inline-block;

  background: rgb(66, 178, 231);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding:20px;
  color:white;
  cursor: pointer;
  font-size:20px;
  transition:300ms;
  margin-right: 20px;

}
.save_button:hover{
  background-color: rgb(30, 30, 30);
  color:white;
  transition:300ms;
  border: 2px solid rgb(49, 46, 220);
}



label {
  margin-bottom: 5px;
  font-size: 20px;;
}


select {
  margin-top: 5px;
}

.bodyContainer {
  /* border-radius: 10px;
    border: 3px solid white; */
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height:auto;
}

.scrollableTextbox {
  font-family: "Arial", "Times New Roman", monospace;
  height: 500px;
  width: 1000px;
  display: inline-block;
  margin-right: 20px;
  background: white;
  border: 10px solid white;
  border-radius: 20px;
  text-align: center;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}

.moreInformation {
  font-family: "Arial", "Times New Roman", monospace;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: auto;
  width: auto;
  display: inline-block;
  background: rgb(109, 109, 247);
  border: 10px solid rgb(109, 109, 247);
  border-radius: 50%;
  text-align: center;
  margin-left:1050px;
}

.form-moreInformation {
  display: none;
  position: fixed;
  /* bottom: 0; */
  top: 10%;
  right: 15%;
  /* right: 15px; */
  z-index: 9;
}

.infoPopup-container {
  font-family: "Arial", "Times New Roman", monospace;
  max-width: 400px;
  padding: 10px;
  background-color: rgb(134, 134, 134);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;

}
.precision,.recall,.accuracy,.f1{
  width:25%;
}
.precision_title,.recall_title,.accuracy_title,.f1_title{
  font-family: 'Jost', serif;
}
.infoPopup-container .buttonCancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.infoPopup-container .buttonCancel:hover {
  opacity: 1;
}

.footerContainer {
  /* border-radius: 10px;
    border: 3px solid white; */
  padding: 10px;
}

.save {
  font-family: "Arial", "Times New Roman", monospace;
  font-weight: bold;
  cursor: pointer;
  height: auto;
  width: auto;
  display: inline-block;
  background: rgb(245, 247, 109);
  border: 10px solid rgb(245, 247, 109);
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 850px;
}

.compare {
  cursor: pointer;
  font-family: "Arial", "Times New Roman", monospace;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 60px;
  background: white;
  border: 10px solid white;
  border-radius: 20px;
}

.bCHeader1 {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  text-align: left;
  width: auto;
  height: auto;
  display: inline-block;

  margin-top:10px;
  color: rgb(255, 249, 249);
  font-size:22px;
  text-align: center;
}

.bodyContainerHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:18px;
}
.scrollableTextbox2 {
  font-family: "Arial", "Times New Roman", monospace;
  height: 300px;
  width: 90%;
  display: inline-block;
  margin-right: 20px;
  background: white;
  border: 10px solid white;
  border-radius: 20px;
  text-align: center;
  overflow: scroll;
  margin-bottom:15px;
  display: flex;
  justify-content: space-between;
}

.save2 {
  font-family: "Arial", "Times New Roman", monospace;
  font-weight: bold;
  cursor: pointer;
  height: auto;
  width: auto;
  display: inline-block;
  background: rgb(245, 247, 109);
  border: 10px solid rgb(245, 247, 109);
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 840px;
}
footer{
  height:80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_text{
  color:white;
  font-family: 'Jost', serif;
}
@keyframes slideIn {
    from {
      transform: translateY(700px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .hidden {
    display: none;
  }